.Grid__Container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.Stat__Card {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(99, 99, 99, 0.15);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

a {
  text-decoration: none;
}

.Stat__Card_1 {
  background-image: url(./account_circle_FILL1_wght300_GRAD0_opsz48.svg), linear-gradient(317deg, #11bfaf, #13625d);
}

.Stat__Card_2 {
  background-image: url(./group_FILL1_wght100_GRAD-25_opsz48.svg), linear-gradient(317deg, #8b9daf, #1968b9);
}

.Stat__Card_3 {
  background-image: url(./library_books_FILL1_wght100_GRAD-25_opsz48.svg), linear-gradient(317deg, #af8b8b, #b91919);
}

.Stat__Card_4 {
  background-color: rgb(187, 65, 126);
}

.Stat__Card_5 {
  background-color: rgb(176, 76, 196);
}

.Stat__Card_6 {
  background-color: rgb(83, 197, 121);
}

.Stat__Container {
  display: flex;
  flex-direction: column;
}

.Stat__Title {
  color: #e3e3e3;
}

.Stat__Content {
  font-size: 32px;
  font-weight: 700;
  color: white;
}


@media (min-width: 768px) {
  .Grid__Container {
    grid-template-columns: repeat(3, 1fr);
  }
}